<div class="container-fluid">
  <?php if (isset($firstName)): ?>
  <div>
    <h4>
      Welcome Dr. <?=$firstName?>,
    </h4>
    <h5>These are your upcoming appointments.</h5>
    <br>
    <?php if(isset($appointments)) : ?>

    <?php foreach ($appointments as $appointment){?>
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <h3>
                      <?php echo $appointment->getNiceTime()?>
                  </h3>
                </div>
                <div class="col-md-2">
                  <h3>
                      <?php echo $appointment->getNiceDate()?>
                  </h3>
                </div>
                <div class="col-md-2">
                    <h3>
                        <?php echo $appointment->getDayName()?>
                        
                    </h3>
                  </div>
                <div class="col-md-2">
                   
                    <?php
                    $attend="View Details";
                    echo "<a class='btn btn-block btn-lg btn-primary' role='button' href='appointmentdetails?id=$appointment->id'\>".$attend.'</a>'.
                      " 
                      </li>";
                      ?>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
  <?php } ?>
  
    <?php else: ?>
    <p>Dear Doctor, unfortunatelly you cannot do any attendance yet. Call Joshua. :)</p>
    <?php endif;?>
  </div>
  <?php endif;?>
</div>

