<form id="setDoctorProfileForm" action="doctor-profile" method="POST">
    <input type="hidden" name="doctorId" value="<?=$doctorId?>">
    <input type="hidden" name="userId" value="<?=$userId?>">
    <input type="hidden" name="profileId" value="<?=$profileId?>">
    <div class="d-flex justify-content-end">
        <div class="mt-1 mb-1">
            <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start pt-0 pb-0 border" style="background-color: rgb(176, 182, 184);">
        <span class="text-secondary">Doctor Data</span>
    </nav>
    <div class="card">
        <div class="card-box bg-white p-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cspo">CSPO #:</label>
                    <input type="text" class="form-control" id="cspo" name="cspo" value="<?=$cspo?>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">Primary Phone:</label>
                    <input type="text" class="form-control" id="primaryPhone" name="primaryPhone" value="<?=$primaryPhone?>">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Secondary Phone:</label>
                    <input type="text" class="form-control" id="secondaryPhone" name="secondaryPhone" value="<?=$secondaryPhone?>">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit" hidden></button>
            <div class="form-row">
                <div class="input-group col-md-6">

                    <label for="medicalSpecialtySelect">Select Medical Specialties to add:</label>
                    <div class="form-group input-group">
                        <select multiple id="medicalSpecialtySelect" name="medicalSpecialtySelect" class="custom-select ignore">
                            <?php if(!empty($medicalSpecialties)):?>
                            <?php foreach($medicalSpecialties as $medicalSpecialty) { ?>
                            <option value="<?=$medicalSpecialty->getId()?>"><?=$medicalSpecialty->getName()?></option>
                            <?php } ?>
                            <?php endif; ?>
                        </select>
                        <input type="button" id="btnRight" value=">" class="btn-sm btn-success btn btn-block mt-2" />
                    </div>


                </div>
                <div class="input-group col-md-6">
                    <label for="medicalSpecialtySelection">Medical Specialties:</label>
                    <div class="form-group input-group">
                        <select multiple id="medicalSpecialtySelection" name="medicalSpecialtySelection[]" class="custom-select ignore">
                        </select>
                        <input type="button" id="btnLeft" value="<" class="btn btn-danger btn-sm btn-block mt-2" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>