<div class="d-flex justify-content-end">
    <div class="mt-1 mb-1">
        <button type="button" id="newButton" class="btn btn-primary mr-1">New</button>
    </div>
    <div class="mt-1 mb-1">
        <button type="button" id="saveButton" class="btn btn-primary">Save</button>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start pt-0 pb-0 border" style="background-color: rgb(176, 182, 184);">
    <span class="text-secondary">List of Medical Specialties</span>
</nav>

<div class="card">
    <div class="card-body">
        <div class="table-responsive-sm">
            <form id="medicalSpecialtyForm">
                <table id="dataTable" class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 5%;" scope="col"><i class="fas fa-trash"></i></th>
                            <th style="width: 5%;" scope="col">#</th>
                            <th scope="col">Specialty Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>