<!-- Page Button Section -->
<form id="setUserProfileForm">
    <input type="hidden" name="userId" value="<?=$userId?>">
    <div class="d-flex justify-content-end">
        <div class="mt-1 mb-1">
            <button type="button" class="btn btn-primary mr-1" onclick="$(location).attr('href', 'searchuser');">Search</button>
        </div>
        <div class="mt-1 mb-1">
            <button id="saveButton" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start pt-0 pb-0 border" style="background-color: rgb(176, 182, 184);">
        <span class="text-secondary">User Personal Data</span>
    </nav>
    <div class="card">
        <div class="card-box bg-white p-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<?=$firstName?>">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<?=$lastName?>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="<?=$email?>">
                </div>
                <div class="form-group col-md-6">
                    <label for="dob">Date of Birthday:</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control" id="dtbirthday" name="birthday" value="<?=$birthday?>" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit" hidden>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start pt-0 pb-0 border" style="background-color: rgb(176, 182, 184);">
        <span class="text-secondary">User Profiles</span>
    </nav>
    <div class="card">
        <div class="card-box bg-white p-4">
            <div class="form-row">
                <div class="input-group col-md-6">
                    <label for="profilesSelect">Profiles:</label>
                    <div class="form-group input-group">
                        <select id="profilesSelect" name="profilesSelect" class="custom-select ignore" onchange="toggleAddProfileButtonBehaviour(event);">
                            <option selected></option>
                            <?php if(!empty($appProfiles)):?>
                            <?php foreach($appProfiles as $profileModel) { ?>
                            <option value="<?=$profileModel->getId()?>"><?=$profileModel->getName()?></option>
                            <?php } ?>
                            <?php endif; ?>
                        </select>
                        <div class="input-group-append">
                            <button id="addProfileButton" title="Add Profile" class="btn btn-outline-secondary" type="button" disabled><i class="fas fa-plus-circle fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row col-md-6">

                <table id="profilesTable" class="table">
                    <thead>
                        <tr>
                            <th hidden>#</th>
                            <th>Profile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if(empty($userInEditProfiles)): ?>
                        <tr id="profilesTableEmptyRow">
                            <td colspan="3" align="center">No Special Profile set</td>
                        </tr>
                        <?php else: ?>

                        <?php foreach($userInEditProfiles as $key => $profileModel) { ?>
                        <tr id="userProfile-<?=$profileModel->getId()?>">
                            <td hidden><input type="text" readonly class="form-control-plaintext" name="profile[<?=$key?>][id]" value="<?=$profileModel->getId()?>"></td>
                            <td><input type="text" readonly class="form-control-plaintext" name="profile[<?=$key?>][name]" value="<?=$profileModel->getName()?>"></td>
                            <td><i onclick="removeProfile('#userProfile-<?=$profileModel->getId()?>')" data-toggle="tooltip" title="Remove Profile" class="text-danger fas fa-minus-circle fa-lg"></i>
                            </td>
                        </tr>
                        <?php } ?>
                        <?php endif; ?>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</form>